<div class="go-top">
	<button type="button" class="go-top-text"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button
</div>
{% style %}
.go-top {
  z-index: 1000000;
  position:fixed;
  bottom: 5%;
  right: 1%;
  display:none;
  cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.go-top-text {
	position: relative;
	width: 55px;
    height: 55px;
	text-align: center;
	font-family: 'Questrial';
	line-height: 1.5;
	letter-spacing: 3px;
	font-size: 12px;
	right: 0%;
    z-index: 1000000;
    border: 3px solid #f3f3f3 !important;
}
.go-top-text {
  color: {{settings.btt_text_color}};
  font-size: {{settings.btt_font_size}}px;
  letter-spacing: normal;
  line-height: normal;
  border-radius: 100px;
  background-color: #fff;
  padding-top: {{settings.btt_padding_top}}px;
  padding-right: {{settings.btt_padding_right}}px;
  padding-bottom: {{settings.btt_padding_bottom}}px;
  padding-left: {{settings.btt_padding_left}}px;
}
.go-top-text svg {
    transform: rotate(90deg);
    fill: #000 !important;
} 
button.go-top-text:before {
    content: '';
    border: 1px solid #ccc;
    position: absolute;
    width: 14px;
    top: 35%;
    right: 37%;
}
.go-top .flickity-button-icon {
    position: absolute;
    left: 35%;
    top: 42% !important;
    width: 30%;
    height: 30%;
}
@media only screen and (max-width: 600px) {
  .go-top-text {
      width: 50px;
      height: 50px;
  }
  button.go-top-text:before {
      content: '';
      border: 1px solid #ccc;
      position: absolute;
      width: 14px;
      top: 35%;
      right: 33%;
  }  
}
{% endstyle %}
<script>
  $(function(){
  
    //Scroll event
    $(window).scroll(function(){
      var scrolled = $(window).scrollTop();
      if (scrolled > 1000) $('.go-top').fadeIn('slow');
      if (scrolled < 1000) $('.go-top').fadeOut('slow');
    });
    
    //Click event
    $('.go-top').click(function () {
      $("html, body").animate({ scrollTop: "0" },  500);
    });
  
  });
  
</script>