{%- form 'product', product, id: form_id, class: 'product-single__form' -%}

  {%- liquid
    assign enable_dynamic_buttons = false
    if show_dynamic_checkout and template != 'product.preorder'
      assign enable_dynamic_buttons = true
    endif
  -%}

  {%- if enable_dynamic_buttons -%}
    <div class="payment-buttons">
  {%- endif -%}

    {%- liquid
      assign default_text = 'products.product.add_to_cart' | t
      assign button_text = 'products.product.add_to_cart' | t
      if template contains 'preorder'
        assign default_text = 'products.product.preorder' | t
        assign button_text = 'products.product.preorder' | t
      endif
      unless current_variant.available
        assign button_text = 'products.product.sold_out' | t
      endunless
    -%}

    <button
      {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
      name="add"
      data-add-to-cart
      class="btn btn--full add-to-cart{% if enable_dynamic_buttons and product.selling_plan_groups == empty %} btn--secondary{% endif %}"
      {% unless current_variant.available %} disabled="disabled"{% endunless %}>
      <span class="data-add-to-cart-text" data-add-to-cart-text data-default-text="{{ default_text }}">
        {% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0 %}
        	Pre-Order {%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: current_variant.price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{{current_variant.price | money | prepend: geolizr_prepend_code | append: "</span>"}}
        {% else %}
        	{% if button_text contains 'OUT OF STOCK' %}
        		{{ button_text }}
        	{% else %}
        		{{ button_text }} - {%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: current_variant.price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{{current_variant.price | money | prepend: geolizr_prepend_code | append: "</span>"}}
        	{% endif %}
        {% endif %}
      </span>
    </button>

    {%- if enable_dynamic_buttons -%}
      {{ form | payment_button }}
    {%- endif -%}

  {%- if enable_dynamic_buttons -%}
    </div>
  {%- endif -%}

  <div class="shopify-payment-terms product__policies">{{ form | payment_terms }}</div>

  <select name="id" data-product-select class="product-single__variants no-js">
    {%- for variant in product.variants -%}
      {%- if variant.available -%}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected"{% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: variant.price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{{ variant.price | money_with_currency | prepend: geolizr_prepend_code | append: "</span>"}}
        </option>
      {%- else -%}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {%- endif -%}
    {%- endfor -%}
  </select>

  <textarea data-variant-json class="hide" aria-hidden="true" aria-label="Product JSON">
    {{ product.variants | json }}
  </textarea>
  {%- if product.options.size > 1 -%}
    <textarea data-current-variant-json class="hide" aria-hidden="true" aria-label="Variant JSON">
      {{ current_variant | json }}
    </textarea>
  {%- endif -%}
{%- endform -%}

<div class="backorder" style="">
  <p>
    <strong>
    <span class="backorder__variant">
      {% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0 %}
      	{{product.title}} - {{current_variant.title}}
      {% endif %}
    </span>
    <span class="backorder__variant_day">
      {% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0 %}
      is backordered and will ship in 2 - 3 weeks.
      {% endif %}
    </span>
    </strong>
  </p>
  <p class="backorder__variant_note">
  {% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0 %}
	In case you are out of time and your order is meant for a special occasion, you are more than welcome to reach out to us at info@sondeflor.com and we will find a way to ship your order as a priority.  
  {% endif %}
  </p>
</div>
{% unless current_variant.available %}  
{% style %}  
  .shopify-payment-button { display: none; }
{% endstyle %}  
{% endunless %}  
{% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0 %}
{% style %}  
  .shopify-payment-button { display: none; }
{% endstyle %} 
{% endif %}